<div class="page-header" >
    <h1>Edit Employee</h1>
</div>
<div ng-controller="editController"> 
    <form name = "editForm">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-8">
                    <label for="editName">Введите имя</label>
                    <input type = "text" id="editName"  name = "editName" ng-model="editInf.name" ng-minlength = "3" ng-maxlength = "20" ng-pattern="/[А-Я][а-я]{2,20}/" required placeholder="Имя"/>
                    <div ng-messages="editForm.editName.$error" style="color:maroon" role="alert">
                        <div ng-message="required">Вы не заполнили поле</div>
                        <div ng-message="minlength">Слишком короткое имя</div>
                        <div ng-message="maxlength">Слишком длинное имя</div>
                        <div ng-message="pattern">Неверный формат ввода</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    <label for="editSurname">Введите фамилию</label>
                    <input type = "text"  name = "editSurname" id="editSurname" ng-model="editInf.surname" ng-minlength = "3" ng-maxlength = "20" ng-pattern="/[А-Я][а-я]{2,20}/" required placeholder="Фамилия" />
                    <div ng-messages="editForm.editSurname.$error" style="color:maroon" role="alert">
                        <div ng-message="required">Вы не заполнили поле</div>
                        <div ng-message="minlength">Слишком короткая фамилия</div>
                        <div ng-message="maxlength">Слишком длинная фамилия</div>
                        <div ng-message="pattern">Неверный формат ввода</div>
                    </div>
                </div>
            </div>
            <div class = "form-group">
                <div class="col-md-8">
                    <label for="editGender" >Выберете пол</label>
                    <select  id ="editGender" ng-model="editInf.gender">
                      <option ng-selected="editInf.gender=='Male'" value = "Male">Мужчина</option>
                      <option ng-selected="editInf.gender=='Female'" value = "Female">Женщина</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    <label for="editProfession">Выберете профессию</label>
                    <select id ="editProfession" ng-model="editInf.profession">
                        <option  ng-if="editInf.gender == 'Male'"  ng-repeat="profession in maleProf">{{profession}}</option>
                        <option  ng-if="editInf.gender == 'Female'" ng-repeat="profession in femaleProf">{{profession}}</option>
                    </select>
                </div>
            </div>
<!--             <div class="form-group">
                <div class="col-md-8">
                    <label for="editProfession">Введите должность</label>
                    <input type = "text" name = "editProfession" id="editProfession" ng-model="editInf.profession"  ng-minlength = "3" ng-maxlength = "20"  required placeholder="Должность" />
                    <div ng-messages="editForm.editProfession.$error" style="color:maroon" role="alert">
                        <div ng-message="required">Вы не заполнили поле</div>
                        <div ng-message="minlength">Слишком короткое значение</div>
                        <div ng-message="maxlength">Слишком длинное значение</div>
                        <div ng-message="pattern">Неверный формат ввода</div>
                    </div>
                </div>
            </div> -->
            <div class="form-group">
                <div class="col-md-8">
                    <label for="editPhone">Введите телефон</label>
                    <input type = "text"  name = "editPhone" id="editPhone" ng-model="editInf.phone" ng-minlength = "12" ng-maxlength = "12" ng-pattern="/\+\d{11}/" required placeholder="Телефон" />
                    <div ng-messages="editForm.editPhone.$error" style="color:maroon" role="alert">
                        <div ng-message="required">Вы не заполнили поле</div>
                        <div ng-message="minlength">Слишком короткое значение</div>
                        <div ng-message="maxlength">Слишком длинное значение</div>
                        <div ng-message="pattern">Неверный формат ввода</div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-default" ng-click="editEmp(editInf, editForm)">Обновить</button>
            <button class="btn btn-default" ng-click="cancel()">Отменить</button>
        </div>
    </form>
</div>

